<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Aula 18.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC597DD81F86F1FD007A3C7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC597DEC1F86F1FD007A3C7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC597DF71F86F1FD007A3C7B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
